<DOCTYPE 5>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <title> Story 6 </title>
    </head>
    <style>
         body{
            padding-top: 100px;
            font-family: 'Roboto', sans-serif;
            font-size: 11px;
        
        }
        textarea{
        width: 400px;
        height: 300px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
       
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        border-radius: 35px;
    }
    .buttonContact {
        width: 140px;
        height: 45px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #f8f8f8;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        border-radius: 50px;
        }
    .buttonContact:hover {
        background-color: #fcfcfc;
        box-shadow: 0px 15px 20px rgba(130, 139, 136, 0.4);
        color: #000;
        transform: translateY(-7px);
    }
    textarea[type="text"]::placeholder {  
        font-style: italic;
    }
    .border{
        border-style: solid;
    }
    
    </style>
    <body class="text-center">
        
        <form method="post" class="classForm">
            <h1 style="font-weight:450">Halo, apa kabar?</h1>
            <br>
            {% csrf_token %}
            <div class="form-group ">
            {% for fields in form %}
            {{fields}}
            {% endfor %}
            </div>
            <button type="submit" id='submit' class="buttonContact">SUBMIT</button>
        </form> 
        <div class="container-fluid" id="about-me">
            <br>
            <p style="font-weight: normal; font-size: 30px; font-style: italic;">Your Status :</p>
            {% for status in list_status %}
            <div class="row">
                
                <div class="col border kotak">
                    <br>
                    <p style="font-family: Quicksand; font-style: normal;font-weight:normal; font-size:30px;">{{ status.status }}</p>
                    {{ status.waktu }}
                </div>
            </div>    
                {% endfor %}
      
        
    </body>
</html>